# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
ENV/
env/

# Instance folder (Flask)
instance/

# Migrations
migrations/__pycache__/

# VSCode / IDE
.vscode/
.idea/

# Environment variables
.env

db_backups/
